@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Roboto Condensed;
    font-size:10px;
    color: #000000;
}
body{background: linear-gradient(166.62deg,rgba(0, 0, 0, 0.97) 60.13%, red 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
p,a,ul,li,
h1,h2,h3,h4,h5,h6
div,section,form,label,i{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.char--shadow{
  -webkit-filter: drop-shadow(5px 5px 10px #222);
  filter: drop-shadow(5px 5px 10px #222);
}
.basic--shadow{
    box-shadow: 1px 2px 2px rgb(29, 32, 41);
}

.container__form{
    /* background: linear-gradient(208.33deg, red 12.11%, rgba(0, 0, 0, 0.97) 50.09%, #800707 84.31%); */
    display: flex;
    flex-direction: column;
}
.survey__personal{
    /* background-color: rgb(137, 138, 138); */
    font-weight: 700;
    width: 100%;
    margin: .5rem 0;
    /* padding: 2rem .5rem; */
}
.survey__stream{
    width: 100%;
    /* background:rgba(73, 48, 48, 0.1); */
    height: auto;
    margin: .5rem 0;
    /* padding: 1rem .5rem; */
}
.survey__stream label{
    margin: .5rem 0;
}
.survey__stream input{
    margin-top: .5rem;
}
#title{
    font-size: 7rem;
    background:red;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}
#description{
    width: 100%;
    font-size: 1.7rem;
    text-align: justify;
    background:black;
    color: white;
    padding: 2% 5%;
}
#survey-form{
    border-radius: 25px;
    background:rgba(148, 148, 148,.8);
    max-width: 800px;
    padding: 5%;
    margin: 0 5% 5% 5%;
    display: flex;
    align-items: center;
}
#survey-form label{
    font-size: 1.7rem;
    color: black;
}
#survey-form .input--label{
    display:inline-block;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    text-decoration: underline;
}
#survey-form .survey__personal label:first-child{
    margin-top: 0;
}
#survey__head{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.survey__personal--input{
    height: 3rem;
    border-radius: .5rem;
    /* padding: .5rem; */
    margin: .5rem 0;
    color:black;
    font-size: 1.5rem;
}
.survey__personal--input--text{
    width: 100%;
    max-width: 350px;
}
#pNum{
    max-width: 350px;
}
#number-label .survey__personal--input{
    width: 30%;
}
#dropdown{
    width: auto;
}
#dropdown .survey__personal--input{
    height: 3rem;
    padding: .5rem;
    color:black;
    font-size: 1.5rem;
}
#number-label i{
    font-size: 1.1rem;
}
.other--text{
    border-radius: .5rem;
    height: 2.5rem;
    font-size: 1.7rem;
    color: black;
    padding: .5rem;
}
.comment-text{
    border-radius: .5rem;
    font-size: 1.7rem;
    width: 100%;
    height:20vh;
    color: black;
    padding: .5rem;
}
.btn {
    margin: 2rem 0;
    -webkit-border-radius: 22;
    -moz-border-radius: 22;
    border-radius: 22px;
    -webkit-box-shadow: 1px 1px 2px #000000;
    -moz-box-shadow: 1px 1px 2px #000000;
    box-shadow: 1px 1px 2px #000000;
    font-family: Courier New;
    color: #000000;
    font-size: 1.7rem;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #ccc7be;
    text-decoration: none;
  }

  
/* @media screen and (min-width: 500px){
  .survey__personal--input--text{
      width: 85%;
  }
}
@media screen and (min-width: 800px){
  .survey__personal--input--text{
      width: 75%;
  }
} */